RewriteEngine On
RewriteBase /

# Redirection vers le dossier "uploads"
RewriteRule ^uploads/(.*)$ /uploads/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]